html {
    scroll-behavior: smooth;
    font-family: sans-serif;

}
h1, h2, h3{
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: #2161E4; 
    padding-top: 2em;
}
h1 {
    font-size: 75px;
    line-height: 1.25em;
}
a {
    cursor: pointer;
}

#header {
    padding: 5px;
    background-color: white;
}


#contactButton {
    border: #2161E4 3px solid;
    border-radius: 25px;
    color: #2161E4;
    background: white;
    float: right;
    padding: 13px 35px;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
}

#contactButton:hover {
    background-color:#2161E4;
    color: white;
    transition: 0.3s ease-in;
}

#contactButton:active {
    transition-duration: 3s;
}

div {
    background-color: white;
    border: white 5px;
    align-content: center;
    
}
a {
    padding: 10px;
}
p {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    line-height: 2.3em;
}
#navigation {

    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: white 2px;

}

#intro{

    padding-bottom: 30px;
    padding-top: 30px;
}

#footer {
    float: center;
}

#socialMedia {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.individualService div {
    width: 50%;
    height: 740px;
    float: left;

}

.serviceDescription h2 {
    padding-top: 3em;
    font-size: 40px;
    font-weight: 350;
    letter-spacing: .2em;
    
}
.serviceDescription h3 {
    text-transform: capitalize;
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.serviceDescription p{
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 80%;
    font-weight: 300;
    line-height: 2em;
    padding-bottom: 8%;
}

.serviceDescription li{
    float: left;
    text-align: left;
    font-size: 23px;
    font-weight: 400;
    margin: auto;
    width: 40%;
    line-height: 2em;
    }

#imageGrid {
    width: 60%;
    margin: auto;
}
#imageGrid img {
padding: auto;
}